@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  min-height: 7.8125rem;
  display: flex;
  align-items: center;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header-buttons {
  display: flex;
  gap: 0.5rem;
}
.header-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.125rem;
}
.header-login {
  background-color: #1890FF;
  color: #fff;
}
.header-basket {
  border: 0.0625rem solid #D9D9D9;
  color: #595959;
}

.logo {
  max-width: 6.25rem;
}
.logo img {
  width: 100%;
}

.main {
  flex-grow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.banner {
  display: flex;
  justify-content: space-between;
  background-color: #fff1b8;
  padding-left: 4.375rem;
  border-radius: 0.625rem;
}
.banner-image {
  max-width: 43.75rem;
}
.banner-text {
  max-width: 33.625rem;
  color: #302C34;
  padding: 4.0625rem 0;
}
.banner-text__title {
  font-size: 2.4375rem;
  margin-bottom: 0.9375rem;
  font-weight: 700;
}
.banner-text__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.products {
  padding-top: 3.5rem;
  padding-bottom: 5.625rem;
}
.products-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-between;
}
.products-header__title {
  color: #000;
  font-size: 2.25rem;
  font-weight: 700;
}
.products-header__search {
  min-width: 19.125rem;
  height: 2.125rem;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.products-header__icon {
  position: absolute;
  left: 0.625rem;
}
.products-header__input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  padding-left: 2rem;
  cursor: pointer;
}
.products-header__input:focus {
  outline: none;
}
.products-header__input::-moz-placeholder {
  color: #BFBFBF;
  font-size: 1rem;
}
.products-header__input::placeholder {
  color: #BFBFBF;
  font-size: 1rem;
}
.products-wrapper {
  margin-top: 2.75rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.products-card {
  border-radius: 0.4375rem;
  background: #fff;
  width: 100%;
  box-shadow: 0rem 0.25rem 0.75rem 0rem rgba(0, 0, 0, 0.05);
}
.products-card__image {
  width: 100%;
  height: 15.625rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.4375rem 0.4375rem 0rem 0rem;
}
.products-card__description {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.5rem 2.125rem 1.5rem;
}
.products-card__description-controls {
  display: flex;
  align-items: center;
  gap: 1.8125rem;
}
.products-card__description-controls--button {
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  background-color: #1890FF;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.products-card__description-controls--price {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
}
.products-card__description--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}
.products-card__description--title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
.products-card__description--title.primary {
  font-weight: 400;
}
.products-card__description--time {
  color: #fff;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0 8px;
  background-color: #262626;
  border-radius: 2px;
}
.products-card__description--text {
  color: #8C8C8C;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 0.625rem;
  margin-bottom: 1.5rem;
}
.products-card__description-info {
  display: flex;
  align-items: center;
  gap: 1.625rem;
}
.products-card__description-info--rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.products-card__description-info--rating span {
  color: #FFC107;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2rem;
}
.products-card__description-info--text {
  color: #8C8C8C;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}
.products-card__description-info--category {
  color: #8C8C8C;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  position: relative;
}
.products-card__description-info--category:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8C8C8C;
  position: absolute;
  left: -14px;
  top: 12px;
}

.card-modal {
  padding: 2.5rem 2.8125rem;
  background-color: #fff;
  width: 100%;
  margin: 0 1.25rem;
  max-width: 48.75rem;
  border-radius: 5px;
}
.card-modal__overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.card-modal__overlay.open {
  display: flex;
}
.card-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-modal__header--title {
  color: #000;
  font-size: 2.25rem;
  font-weight: 700;
}
.card-modal__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.9375rem;
  flex-wrap: wrap;
}
.card-modal__footer--price {
  color: #FAFAFA;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.25rem;
  background-color: #262626;
  border-radius: 5px;
}
.card-modal__body {
  margin: 3rem 0 3.25rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.card-modal__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.9375rem;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 0.75rem;
  flex-wrap: wrap;
}
.card-modal__item--title {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
}
.card-modal__item-controls--price {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  margin-right: 2.9375rem;
}
.card-modal__item-controls--button {
  background-color: inherit;
  border-radius: 2px;
  border: 1px solid #40A9FF;
  background: #FFF;
  color: #40A9FF;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 6px 15px;
}
.card-modal__item-controls--number {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 0.9375rem;
}

.footer {
  display: flex;
  align-items: center;
  min-height: 9.75rem;
  padding: 3.75rem 0;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  gap: 2.1875rem;
}
.footer-list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  color: #595959;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-wrap: wrap;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 1.3125rem;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
  .banner-image {
    max-width: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 768px;
  }
  .banner {
    flex-direction: column;
  }
  .banner-image {
    display: none;
  }
  .products-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 480px;
  }
  .banner {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .banner-text {
    padding: 30px 0;
  }
  .banner-image {
    display: none;
  }
  .products-wrapper {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 80%;
  }
}