@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  min-height: 7.8125rem;
  display: flex;
  align-items: center;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header-buttons {
  display: flex;
  gap: 0.5rem;
}
.header-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.125rem;
}
.header-login {
  background-color: #1890FF;
  color: #fff;
}
.header-basket {
  border: 0.0625rem solid #D9D9D9;
  color: #595959;
}

.logo {
  max-width: 6.25rem;
}
.logo img {
  width: 100%;
}

.main {
  flex-grow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.banner {
  display: flex;
  justify-content: space-between;
  background-color: #fff1b8;
  padding-left: 4.375rem;
  border-radius: 0.625rem;
}
.banner-text {
  max-width: 33.625rem;
  color: #302C34;
  padding: 4.0625rem 0;
}
.banner-text__title {
  font-size: 2.4375rem;
  margin-bottom: 0.9375rem;
  font-weight: 700;
}
.banner-text__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.product {
  padding-top: 3.5rem;
  padding-bottom: 5.625rem;
}
.product-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-between;
}
.product-header__title {
  color: #000;
  font-size: 2.25rem;
  font-weight: 700;
}
.product-header__search {
  min-width: 19.125rem;
  height: 2.125rem;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
}
.product-header__icon {
  position: absolute;
  left: 0.625rem;
}
.product-header__input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  padding-left: 2rem;
  cursor: pointer;
}
.product-header__input:focus {
  outline: none;
}
.product-header__input::-moz-placeholder {
  color: #BFBFBF;
  font-size: 1rem;
}
.product-header__input::placeholder {
  color: #BFBFBF;
  font-size: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  min-height: 9.75rem;
  padding: 3.75rem 0;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  gap: 2.1875rem;
}
.footer-list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  color: #595959;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-wrap: wrap;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 1.3125rem;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
  .banner-image {
    width: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 768px;
  }
  .banner {
    flex-direction: column;
  }
  .banner-image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 480px;
  }
  .banner {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .banner-text {
    padding: 30px 0;
  }
  .banner-image {
    display: none;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 80%;
  }
}