@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.header {
  height: 125px;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header-buttons {
  display: flex;
  gap: 8px;
}
.header-button {
  padding: 8px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 2px;
}
.header-login {
  background-color: #1890FF;
  color: #fff;
}
.header-basket {
  border: 1px solid #D9D9D9;
  color: #595959;
}

.logo {
  max-width: 100px;
}
.logo img {
  width: 100%;
}

.footer {
  height: 156px;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 35px;
}
.footer-list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #595959;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 21px;
}