.footer
    display: flex
    align-items: center
    min-height: 9.75rem
    padding: 3.75rem 0
    &-wrapper
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        height: 100%
        gap: 2.1875rem
    &-list
        flex-grow: 1
        display: flex
        align-items: center
        gap: .9375rem
        color: #595959
        font-size: 1.125rem
        font-style: normal
        font-weight: 400
        line-height: normal
        flex-wrap: wrap
    &-social
        display: flex
        align-items: center
        gap: 1.3125rem
